.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.container-wrapper {
    text-align: center;
}

.message-container {
    text-align: center;
}

.message-container li {
    border-bottom: 1px solid rgb(214, 209, 209);
    padding: 5px;
    margin: 0;
    overflow: hidden;
}

.message-box {
    background-color: whitesmoke;
    padding: 50px;
    border: 5px solid #999;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    text-align: left;
    width: 800px;
    height: 600px;
    overflow: auto;
    border-top: none;
    overflow: auto;

}

.message-box::-webkit-scrollbar {
    display: none;
    width: 0.5em;
}

.message-box::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.message-box::-webkit-scrollbar-track {
    background-color: transparent;
}

.message-container p {
    border-bottom: 3px solid #999;
    padding: 5px;
    margin: 0;
}

.message-title {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-color: whitesmoke;
    color: black;
    border: 5px solid #999;
    border-bottom: none;
    height: 40px;
    transform: translate(0%, 40%);
}

  .message-container li::marker {
      color: #999;
  }